footer{
	width: 100%;
}

#list_item_menu {
	list-style-type: none;
}

#black_link {
	color:black;
}

#logo_and_moto {
	background: #046B33;
}

#green_link {
	color:#046B33;
}

#about_information{
	font-size: 130%;
}


#button{
	background-color: #046B33;
	color: white;
}


#white_link {
	color:white;
}

#remove_button{
	float: right; 
	margin: 10px;
	background-color: #046B33;
	color: white;
}


#score{
	font-size: 20px; 
	text-align: center
}

#approved{
	text-align: center;
}

#highscores{
	overflow-x:auto;
}

#table{
	float: left;
}

#play_random{
	padding-left:15px;
}