{% extends 'P2G/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
			<div class ="col">
                {% if user_profile.profile_image %}
                    <img src="{{ MEDIA_URL }}{{ user_profile.profile_image }}"
                         width="300"
                         height="300"
                         alt="Not Found">
                {% else %}
                    <img src="{% static 'images/AltUserPicture.png' %}"
                         width="300"
                         height="300"
                         alt="Not Found">
                {% endif %}
				<br/>
			</div>
            <div class="col">
                {% if selected_user == user %}
                    <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update"/>
                    </form>
                {% else %}
                    <p>
                        <strong>Bio:</strong>
                        {{ user_profile.bio }}
                    </p>
                {% endif %}
            </div>
			<div class ="col">
                {% if selected_user == user %}
				<form action="{% url 'auth_password_change' %}">
					<button type="submit">Change Password</button>
				</form>
				</br></br>
				<button type="button"><a href="{% url 'P2G:friends' user.username%}" style= "color:black">Your friends</button>
			    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}