{% extends 'P2G/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1> Categories </h1>
			{% if user.is_authenticated %}
            <form action="{% url 'P2G:add_category' %}">
                <button type="submit" class="btn" id="button">Add Category</button>
            </form>
			{% endif %}
        </div>
    </div>

    {% if categories %}
        <div class="list-group">
            {% for category in categories %}
                <div class="list-group-item">
                    <h4>
                        <a href="{% url 'P2G:show_category' category.id %}" id="black_link"> {{ category.name }} </a>
                    </h4>
                    {% if category.likes != 1 %}
                        ({{ category.likes }} Likes)
                    {% elif category.likes > 1 %}
                        ({{ category.likes }} Like)
                    {% endif %}
                    <br>
                    {{ category.description }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        There are currently no Categories
    {%  endif %}
{% endblock %}