{% extends 'P2G/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ game.name }} - Highscores
{% endblock %}

{% block body_block %}
	<div class="jumbotron p-4">
        <div class="container">
            <h1> {{ game.name }} - Highscores </h1>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" >Rank</th>
                <th scope="col" >User</th>
                <th scope="col" >Date</th>
                <th scope="col" >Score</th>
                <th scope="col" style="text-align: center">Approved</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores%}
                {% if score.user.id == user.id %}
                    <tr class="table-success">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td class="align-middle">
                            {% if profiles|get_image:score.user %}
                                <img src="{{ MEDIA_URL }}{{ profiles|get_image:score.user }}"
                                     width="32"
                                     height="32"
                                     alt="Not Found">
                            {% else %}
                                <img src="{% static 'images/AltUserPicture.png' %}"
                                     width="32"
                                     height="32"
                                     alt="Not Found">
                            {% endif %}
                             You
                        </td>
                        <td class="align-middle">{{ score.date }}</td>
                        <td class="align-middle">{{ score.score }}</td>
                        {% if score.approved %}
                            <td class="align-middle" style="font-size: 20px; text-align: center">&#10004</td>
                        {% else %}
                            <td class="align-middle" style="font-size: 20px; text-align: center">&#10006</td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td class="align-middle">
                            {% if profiles|get_image:score.user %}
                                <img src="{{ MEDIA_URL }}{{ profiles|get_image:score.user }}"
                                     width="32"
                                     height="32"
                                     alt="Not Found">
                            {% else %}
                                <img src="{% static 'images/AltUserPicture.png' %}"
                                     width="32"
                                     height="32"
                                     alt="Not Found">
                            {% endif %}
                            {{ score.user.username }}
                        </td>
                        <td class="align-middle">{{ score.date }}</td>
                        <td class="align-middle">{{ score.score }}</td>
                        {% if score.approved %}
                            <td class="align-middle" style="font-size: 20px; text-align: center">&#10004</td>
                        {% else %}
                            <td class="align-middle" style="font-size: 20px; text-align: center">&#10006</td>
                        {% endif %}
                    </tr>
                    {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}