{%  extends 'P2G/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ name }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1> {{ name }}</h1>
                    <br>
                    You are playing: {{ game.name }}
                    (<a href="{{ game.link }}" target="_blank">{{ game.link }}</a>)
                    <br>
                    <div>
                        {% if users|length == 2 %}
                            Your game partner is:
                        {% else %}
                            Your game partners are:
                        {% endif %}
                        {% for user in users %}
                            {% if user_id != user.id%}
                                {{ user.username }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    Enter a New Score
                    <input id="group-new-score-input" type="text" size="10" value="">
                    <input id="group-new-score-submit" class="btn btn-primary" type="button" value="Submit"
                           data-user-id="{{ user_id }}"
                           data-group-id="{{ group_id }}">
                </div>

                <div class="col" id="highscores">
                    {% if scores %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col" >Rank</th>
                              <th scope="col" >User</th>
                              <th scope="col" >Score</th>
                              <th scope="col" style="text-align: center">Approved</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for score in scores%}
                                {% if score.user.id == user_id %}
                                <tr class="table-success">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td> You </td>
                                    <td>{{ score.score }}</td>
                                    {% if score.approved %}
                                        <td style="font-size: 20px; text-align: center">&#10004</td>
                                    {% else %}
                                        <td style="font-size: 20px; text-align: center">&#10006</td>
                                    {% endif %}
                                </tr>
                                {% else %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ score.user.username }}</td>
                                    <td>{{ score.score }}</td>
                                    {% if score.approved %}
                                        <td style="font-size: 20px; text-align: center">&#10004</td>
                                    {% else %}
                                        <td style="font-size: 20px; text-align: center">&#10006</td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                    {% else %}
                        There are no scores yet.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Chat</h3>
            <div id="chat-log">
                <textarea id="chat-window" cols="100" rows="50" readonly="True" style="line-height: 50%";>
                    {% for message in messages %}
                        {% if message.sender == user%}
                            You: {{ message.content }}
                        {% else %}
                            {{ message.sender }}: {{ message.content }}
                        {% endif %}
                    {% endfor %}
                </textarea>
            </div>

            <br>
            <input id="chat-message-input" type="text" size="100" value=""><br>
            <input id="chat-message-submit" class="btn btn-primary" type="button" value="Send"
                   data-user-id="{{ user_id }}"
                   data-group-id="{{ group_id }}">
            <input type="hidden" id="data-group-id" name="variable" value="{{ group_id }}" readonly>
            <input type="hidden" id="data-user-id" name="variable" value="{{ user_id }}" readonly>
        </div>
        <div id="approvals" class="col">
            <h3>Scores to Approve</h3>
            {% if approvals %}
                <div style="height: 400px; overflow-y: auto">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col" >User</th>
                              <th scope="col" style="text-align: center">Date</th>
                              <th scope="col" >Score</th>
                              <th scope="col" > </th>
                              <th scope="col" > </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for score in approvals%}
                                <tr>
                                <td>{{ score.user.username }}</td>
                                <td>{{ score.date }}</td>
                                <td>{{ score.score }}</td>
                                <td>
                                    <button class="btn btn-info btn-sm group-approve-score"
                                            type="button"
                                            data-score-id="{{ score.id }}">
                                        Approve
                                        </button>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm group-deny-score"
                                            type="button"
                                            data-score-id="{{ score.id }}">
                                        Deny
                                    </button>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                All Scores are Approved
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block further_scripts %}
    <script src="{% static 'js/P2G-group.js' %}" crossorigin="anonymous"></script>
{% endblock %}