{%  extends 'P2G/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Groups
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1> Groups </h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if groups %}
                <div class="panel-body">
                    <div class="list-group">
                        {% for group in groups %}
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    {{ group.name }}
                                    <button class="btn btn-primary" style = "background-color: #046B33">
                                        <a href="{% url 'P2G:group' group.group_id user_id %}" style="color: white;">
                                            Open
                                        </a>
                                    </button>
                                </h4>
                                Members: You,
                                {% for user in group.users %}
                                    {{ user }},
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>You are currently in no Group</p>
            {% endif %}
        </div>
    </div>
{% endblock %}