{% extends 'P2G/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Highscores
{% endblock %}

{% block body_block %}
	Highscores
	<div id="highscores">
		<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 15px;
		</style>
	{% for game in games %}
		<div>
		<table>
			<table id="table">
			<caption>Highscores for <li>{{ game }}</li></caption>
			<tr>
				<th>Rank</th>
				<th>User</th>
				<th>Score</th>
			</tr>
		{% rank counter = 1 %}
		{% for score in game %}
			<tr>
				<td><li>{{ rank_counter }}</li>.</td>
				<td><li>{{ score.name }}</li></td>
				<td><li>{{ score.score }}</li></td>
			</tr>
			{% rank_counter = rank_counter + 1 %}
		{% endfor %}
		</table>
		</div>
	{% endfor %}
	</div>
{% endblock %}