<table class="table">
    <thead>
        <tr>
            <th scope="col" >Rank</th>
            <th scope="col" >User</th>
            <th scope="col" >Score</th>
            <th scope="col" id="approved">Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores%}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ score.user.username }}</td>
            <td>{{ score.score }}</td>
            {% if score.approved %}
                <td id="score">&#10004</td>
            {% else %}
                <td id="score">&#10006</td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>