{% load staticfiles %}
<div class="container">
    <div class="row">
        {% if user_profile_list %}
            <div class="panel-body">
                <div class="list-group">
                    {% for list_user in user_profile_list %}
                        {% if user.id != list_user.user.id %}
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    {% if user_profile.profile_image %}
                                        <img src="{{ MEDIA_URL }}{{ user_profile.profile_image }}"
                                             width="64"
                                             height="64"
                                             alt="Not Found">
                                    {% else %}
                                        <img src="{% static 'images/AltUserPicture.png' %}"
                                             width="64"
                                             height="64"
                                             alt="Not Found">
                                    {% endif %}
                                    <a href="{% url 'P2G:account' list_user.user.username %}" id="black_link">
                                        {{ list_user.user.username }}
                                    </a>
                                {% if list_user in friends %}
                                    <input class="btn"
                                       type="button"								
                                       value="Your Friend"
									   id = "remove_button"
									   style = "background-color: #5D9F7B">
                                {% else %}
                                <input class="btn P2G-add-friend"
                                       type="button"
                                       value="Add to Friends"
                                       id = "remove_button"
                                       data-friend-id="{{ list_user.user.id }}"
                                       data-user-id="{{ user.id }}">
                                {% endif %}
                                </h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>There are no users on P2G.</p>
        {% endif %}
    </div>
</div>