<!DOCTYPE html>
<html lang="en">
<head>
  <title>Play Games and meet Friends</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body>

<!-- Side navigation -->
<div class="sidenav">
  <img class="logo" src="logo.png" alt="Logo of the app" width="250" height="350">
  </br></br></br>
  <input type="text" placeholder="Search..">
  </br></br></br>
  <h2>Most Popular Games</h2>
  <a href="#">Link1</a>
  <a href="#">Link2</a>
  <a href="#">Link3</a>
  </br>
  <h2>Most Categories</h2>
  <a href="#">Link1</a>
  <a href="#">Link2</a>
  <a href="#">Link3</a>
</div>

<!-- Page content -->

<div class="header">
	<h1 class="heading">Heading Heading Heading</h1>
</div>

<div class="topnav">
  <a href="#home">Games</a>
  <a href="#news">High Scores</a>
  <a href="#contact">Contat us</a>
  <a href="#about">Register</a>
  <a href="#about">Log in</a>
</div>
 
<div class="main">
  </br></br>
   <p class="random">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam mi ut mi dapibus rutrum. </p>	
  </br>
  
  <p class="container">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam mi ut mi dapibus rutrum. 
  Donec nunc odio, hendrerit ut luctus id, convallis sed enim. Ut ex augue, euismod eu malesuada eu, vehicula nec ligula. 
  Morbi vestibulum velit eu felis commodo consequat. Mauris aliquet dignissim efficitur. Cras rutrum pulvinar sem vitae feugiat. 
  Nullam gravida malesuada felis, id posuere tellus tristique nec. Suspendisse vulputate ac odio sit amet placerat. 
  Nunc venenatis tincidunt magna, vitae fermentum urna pharetra ac. Maecenas vestibulum ultrices nibh, ac bibendum elit accumsan vitae. 
  Duis egestas ac dui id finibus. Proin id massa dictum, malesuada libero in, varius nibh. Nulla at metus et felis aliquam consectetur ac ut justo. 
  Aenean hendrerit eros vel pharetra hendrerit.
  Sed ex justo, sagittis id hendrerit vestibulum, dictum sit amet orci. Duis tellus mauris, eleifend eu sollicitudin a, bibendum eu nisl. Nunc eu urna fringilla, scelerisque mi ut, consectetur nunc. Aenean ut auctor felis. Maecenas pellentesque lorem libero, id accumsan felis condimentum non. Nullam sed elit condimentum, consectetur metus eu, laoreet libero. Aenean ullamcorper interdum erat eu pharetra. Integer molestie id enim eget condimentum. Cras at mattis elit, non pharetra massa.
  Nulla a fringilla neque, a lacinia justo. Mauris porta lacinia ligula eget interdum. Curabitur mattis augue nisl, eu dapibus orci mollis at. Curabitur nec elit rhoncus, consectetur nisl et, porttitor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce sit amet tristique leo. Vivamus mollis erat et odio tempor ultrices. Aliquam auctor libero id diam sagittis blandit. Integer in quam sit amet eros tristique rhoncus. Cras sed felis et est posuere pulvinar. Proin aliquet, leo et commodo commodo, augue eros scelerisque neque, eu condimentum purus mi id nisl. Sed sagittis laoreet urna, eget dapibus justo vulputate sed. Aenean egestas ante sit amet sem ullamcorper tempus. Mauris sed nunc nec est aliquet suscipit.
  Sed interdum, leo id condimentum ullamcorper, nisl sem imperdiet elit, vitae vulputate lorem nunc et neque. Aliquam erat volutpat. Nulla convallis diam sem, id fermentum nulla pulvinar eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis condimentum diam dui, eu aliquet dui dignissim quis. Duis ultricies, erat ut molestie egestas, velit eros ornare diam, eget tristique sapien risus convallis nunc. Pellentesque rutrum viverra ligula, quis vehicula massa finibus non. Fusce dapibus odio id orci euismod dictum. Etiam elementum urna lacus, sit amet tincidunt mauris vehicula quis. Cras auctor orci vel felis convallis varius. Aliquam a elit eleifend nulla sollicitudin finibus ac vitae nisl. Quisque eget ipsum id lacus egestas gravida et id elit.
  </p>
</div>

</body>
</html>