<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Play2gether</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<header>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-2">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			<a class="nav-link" href="#">Games</a></li>
			<li class="nav-item ">
			<a class="nav-link" href="#">High Scores</a></li>
			<li class="nav-item ">
			<a class="nav-link" href="#">Games</a></li>
			</ul>
			<ul class="navbar-nav  ml-auto">
			<a class="nav-link" href="#">Register</a></li>
			<li class="nav-item ">
			<a class="nav-link" href="#">Log In</a></li>
			</ul>
		</div>
	</nav>
</header>


<!--- Sidebar -->
<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar pt-5">
			<div class="sidebar-sticky">
				<ul class="navbar-nav nav-justified mr-auto">
				</br></br></br>
				<li class="nav-item">
				<input type="text" placeholder="Search..">
				</br></br></br>
				<li class="nav-item">
				<h5>
				<span data-feather="award"></span> Most Liked Games
				</h5>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">Link</a></li>
				<li class="nav-item ">
				<a class="nav-link" href="#">Link</a></li>
				<li class="nav-item ">
				<a class="nav-link" href="#">Link</a></li>
				<li class="nav-item ">
				<a class="nav-link" href="#">Link</a></li>
				</br></br></br>
				<li class="nav-item">
				<h5>
				<span data-feather="award"></span> Most Liked Categories
				</h5>
				</li>
				<li class="nav-item ">
				<a class="nav-link" href="#">Link</a></li>
				<li class="nav-item ">
				<a class="nav-link" href="#">Link</a></li>
				<li class="nav-item">
				<a class="nav-link" href="#">Link</a></li>
				</ul>
			</div>
		</nav>
		<main role="main" class="col-md-10 ml-sm-auto col-lg-10">
			<!--- Welcome Section -->
			<div class="jumbotron p-4" style="background: #046B33">
				<div class="container">
					<h1 class="jumbotron-heading text-white">Play2gether</h1>
					<h4 class="text-white">Play Games and Meet Friends</h4>
				</div>
			</div>

			</br></br></br>

			<!--- Random Game Button -->
			<div class="container-fluid">
				<a href="#" class="btn btn-info" role="button" style="font-size:30px; background:#046B33">Play Random Game</a>
			</div>

			</br></br></br></br></br>

			<!--- App Explanation -->
			<div class="container-fluid col-md-12 col-lg-12">
				<div class="row">
					<div class= "col-md-2 col-lg-2">
						<img src="logo.png" alt="logo of the app" height="300">
					</div>
					<div class= "col-md-10 col-lg-10">
						<h1>App Explanation</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante eget augue porta iaculis. Curabitur facilisis tincidunt mauris, id aliquam risus. Vivamus tristique ullamcorper mi, a bibendum elit blandit ac. Phasellus aliquet, metus a porttitor aliquam, arcu tortor fringilla nunc, sit amet fermentum enim nisl aliquam magna. Integer libero mauris, interdum eget dapibus vel, condimentum eu enim. Etiam lorem felis, porta in vulputate nec, imperdiet sed felis. Proin cursus est gravida diam mollis, eget volutpat eros malesuada. Mauris mollis nulla vel mauris accumsan, vel volutpat sapien facilisis. Donec sit amet aliquam mi. Aliquam non rutrum neque, non imperdiet est. Donec eget massa vitae nunc luctus mattis. Duis vel neque a nisi volutpat semper. Donec quam lacus, interdum a viverra ac, consequat at orci. Suspendisse non venenatis neque, eu feugiat nisi. Aliquam malesuada mauris ex, vel tincidunt enim dignissim vel. Quisque gravida dolor leo, ut rutrum leo cursus ac.
						In metus mauris, tristique at fringilla quis, fermentum eu ipsum. Pellentesque ac leo at quam elementum tempor. In metus nisi, commodo vestibulum velit vitae, fermentum pulvinar massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla imperdiet dui dui, quis pretium nulla ullamcorper quis. Ut luctus mi vel libero pulvinar tincidunt. Vivamus scelerisque vehicula arcu, facilisis convallis arcu commodo id. Aliquam erat volutpat. Proin pellentesque aliquam porta.
						Sed imperdiet fringilla suscipit. Donec scelerisque, diam et finibus porttitor, justo est vulputate elit, commodo mollis dui elit id magna. Sed vitae blandit turpis, id placerat turpis. Sed ac fringilla ipsum. Donec id auctor felis. Nam ultrices urna ac nibh volutpat, bibendum maximus ligula lobortis. Proin hendrerit erat in lorem molestie, et pellentesque erat blandit. Duis non nunc tellus.</p>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>




<!--- Fixed background -->


<!--- Emoji Section -->

  
<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->


<!--- Footer -->



<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/
feather.min.js">
</script>
<script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js">
</script>
</body>
</html>


